* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ascii-border {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: monospace;
  font-size: 2rem;
  padding: 0;
  letter-spacing: 0.1em;
  color: rgb(160, 160, 160);
  margin-top: -0.5rem;
  line-height: 1;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  margin: 1rem 0;
}


header, main, footer {
  max-width: 100ch;
  margin: 2rem auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}

header .logo:visited {
  color: black;
}

table {
  width: 100%;
}

td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

td:first-child {
  width: 25%;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.intro {
  margin-bottom: 2rem;
  max-width: 80ch;
}

.interview {
  max-width: 80ch;
  margin: 0 auto;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: blue;
}

footer {
  margin-top: 4rem;
}

.new {
  background-color: yellow;
}

.category {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.arrow {
  color: gray;
}

a.interview-link {
  font-size: 0.75rem;
  text-transform: uppercase;
}

a.address-link {
  font-size: 0.75rem;
  text-transform: uppercase;
}

